.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 1px; /* You can adjust the padding as needed */
  box-sizing: border-box; /* This ensures padding is included in the width calculation */
}

body, h1, p {
  margin: 0;
  padding: 0;
}

/* Style for the header */
.title {
  background-color: purple;
  color: white;
  text-align: center;
  padding: 20px; 
}

.title p {
  line-height: 40px; 
}

.greeting{
  text-align: center;
  font-style: italic;
  font-weight: 400;
  animation:reverse;
  animation-delay: 1000ms;
  box-shadow: inset;
}
